@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


.sideNavWrapper{
    position: fixed;
    top:0;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 100;
    height: 100%;
    width: 350px;
    background: #ffffff;
    @media (max-width:880px) {
        display: none;
      }
      .notificationsWrapper{
        position: absolute;
        left:10px;
        top:15px;
        cursor: pointer;
        

        .dropDownMenuWrapper{
            width: 300px;
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
            padding: 10px 4px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            max-height: 450px !important;
            overflow-y: auto !important;
        &::-webkit-scrollbar {
  
          width: 2px;
          height: 10px;
      }
  
      &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 5px #a1aec4;
          border-radius: 3px;
      }
  
      &::-webkit-scrollbar-thumb {
          background-color: #aeb8c9;
          border-radius: 3px;
      }
        }
        
       

        .notificationsIconWrapper{
            background: #ffffff;
            box-shadow: none;
            width: 80px;
            height: 65px;
            &:hover{
                background: #ffffff;
                box-shadow: none;
            }

          
            .notificationIcon{
                position: absolute;
            }
            
        }

        
       
      }

    .sideNavButtonWrapper{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .linkSideNavButtons{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
           
        }
    }

    .iconBrand{
      margin-top: 20px;
      text-align: center;
      font-family: "Dancing Script";
      font-size: 55px;
      font-weight:bolder;
    }

    .sideNavProfileUserWrapper{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .profilePosition{
            text-align: center;
            color: #706c6c;
            font-size: 22px;
            font-weight: 400;
        }

        .profileName{
            margin-top: 10px;
            font-size: 28px;
            font-weight: 500;

        }
       
        .profilePic{
            width: 130px;
            height: 130px;
            border-radius: 50%;
          
            border:5px solid #febd2f;
            box-shadow: 0 4px 10px 0 rgba(39, 39, 39, 0.3);
        }

    }

    

}