.loginPageWrapper{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    .displayNone {
        display: none;
    }

   
   

    .logini{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        border:1px solid #cfcbcb;
        padding: 20px 30px;
        border-radius: 10px;
        margin-top: 110px; 
        padding-bottom: 40px;
        @media (max-width:496px) {
            width: 90%;
        }

        .displayNone {
            display: none;
        }
        .dontHaveAccountWrapper{
            position: absolute;
            display: flex;
            gap: 10px;
            bottom: -30px;
            right: 0;

            .signupLink{
                color: rgb(6, 6, 223);
            }
    
        }

        .loginWithGoogleWrapper{
            position: relative;
            display: flex;
            padding-inline: 10px;
            justify-content: center;
            align-items: center;
            width: 390px;
            height: 65px;
            border:1px solid #cfcbcb;
            border-radius: 10px;
            @media (max-width:496px) {
                width: 98%;
            }
            .displayNone {
                display: none;
            }
            
            p{
                text-align: center;
                font-size: 18px;
                font-weight: 500;
                @media (max-width:382px) {
                   text-align: right;
                   font-size: 15px;

                }
            }

            .googleIcon{
                position: absolute;
                left: 15px;
                width: 45px;
                height: 45px;
                @media (max-width:496px) {
                    width: 33px;
                    height: 33px;
                    left: 10px;

                }
            }
        }

        .orText{
            font-size: 18px;
            color: #8d8a8a;
        }

        .loginButton{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 390px;
            height: 65px;
            background:  #febd2f;
            border-radius: 10px;

            @media (max-width:496px) {
                width: 98%;
            }


            p{
                color: #fff;
                font-size: 24px;
                font-weight: 600;
            }
        }
          
        .textWrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            .welcomeText{
                font-size: 28px;
            }
        }

        .displayNone {
            display: none;
        }
    }
    
}