@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.addRecipeWrapper{

width: 100%;
height: 100%;
position: fixed;
top: 0;
left: 0;
z-index: 555555;
background: rgba(0, 0, 0, 0.4);

.addRecipeForm{
  position: absolute;
  left: 0;
  right:0;
  margin-inline: auto;
  top: 40px;
  width: 40%;
  height: 80%;
  background: #ffffff;
  border-radius: 15px;


  .inputsWrapper{
    display: flex;
    flex-direction: column;
    gap: 4vh;
    width: 100%;
    margin-top: 60px;
    padding-inline: 8%;
    .formAddButton {
      border: 1px solid #93f9c6;
      border-radius:10px; 
      padding: 8px 30px;
      font-weight:bold ;
      background-color: #55cf92;
      color: #ffffff;

   
      &:hover {
        background-color: #21ba71;
        color: #ffffff;
        border: 1px solid #21ba71;
        scale: 1.01;
        transition: 0.1s ease-in-out;
       
      
      }
    }


    .inputLastRow{
      display: flex;
      justify-content: space-between;
      

      .timeInputWrapper{
        display: flex;
        flex-direction: column;
       

        .inputTime{
          border: 1px solid rgba(0, 0, 0, 0.4);
          border-radius: 5px;
        }

        .timeLabel{
          color: rgba(0, 0, 0, 0.4);

        }
      }
      
      .selectCategoryInputWrapper{
        display: flex;
        align-items: center;
        gap: 15px;
        .selectCategoryLabel{
          color: rgba(0, 0, 0, 0.6);
        }

        .selectCategorySelect{
          background: #ffffff;
          border: 1px solid rgba(0, 0, 0, 0.4);
          border-radius: 5px;
          padding: 2px 5px;
        }
      }
    }

    .descriptionInputWrapper{
      display: flex;
      flex-direction: column;
      gap: 5px;
       .descriptionLabel{
        color: rgba(0, 0, 0, 0.4);
        font-size: 18px;
       }

       .descriptionInput{
        border: 1px solid rgba(0, 0, 0, 0.4);
        border-radius: 8px;
        padding: 10px;
        box-sizing: border-box; 
        vertical-align: top; 
        height: 18vh;
        max-width: 100%;
        overflow-y: auto;
       }
    }


  .inputsFirstRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .imageInputWrapper{
      width: 200px;

    
      .imageLabel{
        color: rgba(0, 0, 0, 0.4);
      }
    }
    .inputTitleWrapper{
      width: 45%;
      .labelInputTitle{
     color: rgba(0, 0, 0, 0.4);
      }
      .inputTitleAddRecipe{
        border: 1px solid rgba(0, 0, 0, 0.4);
        border-radius: 8px;
        padding: 10px 18px;
        
 
     }
    }
    
  }
    
   

  }

 

  .closeIconForAdd{
   
    position: absolute;
    top: 5px;
    right: 5px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    &:hover path {
      stroke: rgba(0, 0, 0, 0.4);
      fill:rgba(0, 0, 0, 0.4) ;
      cursor: pointer;
    }
  }
  .formAddRecipeTitle{
    font-size: 27px;
    text-align: center;
    margin-top: 30px;
  }

  .formAddRecipeUnderTitle{
    text-align: center;
    margin-top: 10px;
    padding-inline: 10px;
    color: #817c7c;
  }
}


}
.searchLogginWrapper {
  display: flex;
  align-items: center;
  margin-inline: 4%;
  margin-top:30px;
  justify-content: space-between;
  gap: 20px;

  .displayNone{
    display: none;
  }

  .addRecipeButton{
 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #21ba71;
    &:hover {
      background:#b8f4d5;
    scale: 0.9;
      .plusIcon path{
        fill: #21ba71;
        stroke: #21ba71;
       
      }
    }
    .plusIcon{
      width: 50px;
      height: 50px;
      cursor: pointer;
    
    }
    .plusIcon path{
      fill: #ffffff;
      stroke: #ffffff;
     
    }
  }

  .displayNone{
    display: none;
  }

  .hamburgerButton{
    margin-right: -10px;
    @media (min-width:882px) {
        display: none;
    }
    @media (min-width:882px) {
    margin-right: 0;

    }
  }

  .iconBrand{
    text-align: center;
      font-family: "Dancing Script";
      font-size: 55px;
      font-weight:bolder;
      margin-top: -10px;
      margin-right: 70px;
      @media (min-width:882px) {
        display: none;
      }
      @media (min-width:402px) {
        margin-right: 40px;
      }
      @media (max-width:402px) {
        margin-right: 40px;
      }
  }

  .logginButtonWrapper {
    display: flex;
    justify-content: center;
    align-items:center ;
    width: 150px; 
    border-radius: 10px;  
    height: 65px;
    background-color: #febd2f;
    box-shadow: 0 4px 10px 0 rgba(254,189,47,0.7 );
    cursor: pointer;
    @media (max-width:698px) {
      height: 45px;
      width: 110px;
      margin-bottom: -10px;
    }
    @media (max-width:402px) {
        height: 45px;
      }
      @media (max-width:384px) {
       display: none;
      }
    p{
        margin: 0;
        font-size: 20px;
        font-weight: 600;
    }
  
  }

  .searchWrapper {
    display: flex;
    padding-inline: 20px;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    height: 65px;
    border: 3px solid #febd2f;
    border-radius: 10px;
    background-color: #ffffff;
    @media (max-width:698px) {
        display: none;
    }

    .searchInput {
      border: none;
      outline: none;
      width: 80%;
    }

    .searchIcon {
      width: 30px;
      height: 30px;
    }

    
  }
}
